#ab{
    color: whitesmoke;
    margin-left: 5%;
}
li {
    display: inline;
    
  }
  
  #ab::first-letter{
    color: red;
    font-size: 35px;
  }

nav{
display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding-left: 10%;
    padding-top: 40px;
    padding-right: 10%;
    margin-left:30%;
    margin-top: -7.5%;
    
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    
}
nav ul li a:hover{
    color:yellow;
    transition: .3s;
}
nav ul li a{
    color: white;}
    .btn{
        display: flex;
        align-items: center;
        margin-left: 13%;
        margin-top: 3%;
        padding: 10px 20px;
        border: 0;
        outline: 0;
        border-radius: 10px;
        background: #f71010;
        color: #fff;
        font-weight: 300;
        cursor: pointer;}
        button:hover{
            background-color: yellow;
        }
        .di{
            width: 200px;
            height: 200px;
            margin-left: 30px;
            border-radius: 5px;
            border:1px solid whitesmoke;
        }
        .abo h2{
            color:#e60b0b;
            margin-left: 6%;
            margin-top: 10%;
            font-size: 30px;
            font-family: sans-serif;
        }
        .abo p{
            color:whitesmoke;
            margin-left: 9%;
        }
        .abo img{
            margin-top: 8;
        }
        .abo h1{
            color:rgb(233, 73, 73);
            margin-left: 35%;
            margin-top: -23.8%;
        }
        .abo .para{
            margin-left: 28%;
            font-size: 20px;
        }
        .abo ul li {
            font-size: 20px;
            font-family:Georgia, 'Times New Roman', Times, serif;
            color: whitesmoke;
            margin-left: 29%;
        }
        .abo ol li{
            font-size: 20px;
            font-family:Georgia, 'Times New Roman', Times, serif;
            color: whitesmoke;
            margin-top: 30%;
            
            
        }
        .po h2{
            color:#e60b0b;
            margin-left: 6%;
            margin-top: 15%;
            font-size: 30px;
            font-family: sans-serif;
        }
        .co{
            color:whitesmoke;
        }
       
        
        